
html,body,.capa{
    height: auto;
    overflow: auto;
}
body{
    background: url("C:/Users/gusta/Documents/GitHub/Nordic_Site/img/imagen2.jpg")no-repeat;
                
    background-attachment: fixed;
    font-family: "trebuchet MS", helvetica, sans-serif;
    overflow-x: hidden;
    font-size: 16px;   
}
/*Barra de Navegacao*/
nav.navbar-transparente{
    padding: 5px 0px;
    background: rgba(0,0,0,0.6);
    border: none;
}
nav.navbar-transparente{
    padding: 15px 0px 0px 0px;
    background: rgba(0,0,0,0.6);
    border: none;
}
.navbar-inverse .navbar-nav>li>a, footer .nav a{
    color: white;
}
.navbar-inverse .navbar-nav>li>a, footer .nav a :hover{
    color: white;
    background: none;
}/*Fim da bara de navegacao*/
.texto-titulo{
    text-align: center;
    color:white;
    display: table-cell;
    vertical-align: center;
}
#conteudo-principal {
    padding-top:20px; 
    width: 720px;
    margin:55px auto 10px auto;
    color: white; 
}
#nomePrincipal{
    float: left;
    color: white;
    padding-top: 0px;
    font-size: 35px;
}
#menu{
    float: right;
    padding: 10px 0;
}
#conteudo-texto{
    padding: 10px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30;
}
h2{
   color:#b9c941; 
}
/*Formatacao Menu*/
a{
    text-decoration: none;
    padding: 5px 10px;
}
/*Links nao visitados*/
a:link{
    color:#cfc6c6;
}
/*Links visitados*/
a:visited{
    color: #cfc6c6;
}
/*Links houver*/
a:hover{
    color: #fff;
    /*background: #add8e6;*/
}
/*Links active*/
a:active{
    color: #cfc6c6;
}
/*classes*/
.data-postagem{
    font-size: 14px;
    border-bottom: 1px solid #f4f4f4;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
}/*Formatacao das imagens*/
#ragnar{
    float: center;
    margin: 10px 10px 10px 150px;
    opacity:0.7;    
}
#img-historia{
    float: center;
    margin: 10px 10px 10px 150px;
    opacity: 0.7;
}
.texto{
    border-left: 5px solid #d8d8d8;
    padding-left: 5px;
    display: block;
    margin: 10px 10px 10px 280px;
}
#texto-conteudo{
    color: white;
    font-size: 20px;
    font-style: italic;
    
}
/*Tipografia*/
p {
    color: white;
    font-size: 20px;
}