
html,body,.capa{
    height: auto;
    overflow: auto;
}
body{
    background: url("C:/Users/gusta/Documents/GitHub/Nordic_Site/img/backgound_1.jpg"),
                linear-gradient(50deg,#e9e9e9, #0088ff);
    background-attachment: fixed;
    font-family: "trebuchet MS", helvetica, sans-serif;
    overflow-x: hidden;
    font-size: 16px;   
}


/*Barra de Navegacao*/
nav.navbar-transparente{
    padding: 5px 0px;
    background: rgba(0,0,0,0.6);
    border: none;
}
.texto-index{
    text-align: center;
    color:black;
    display: table-cell;
    vertical-align: center;
}
#conteudo-principal {
    padding-top:20px; 
    width: 720px;
    margin:55px auto 10px auto;
    color: #000; 
    
}
#nomePrincipal{
    float: left;
    color: black;
}
#menu{
    float: right;
    padding: 10px 0;
}
#conteudo-texto{
    padding: 10px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30;
}
h2{
   color:#b9c941; 
}
/*Formatacao Menu*/
a{
    text-decoration: none;
    padding: 5px 10px;
}
/*Links nao visitados*/
a:link{
    color:#cfc6c6;
}
/*Links visitados*/
a:visited{
    color: #cfc6c6;
}
/*Links houver*/
a:hover{
    color: #fff;
    /*background: #add8e6;*/
}
/*Links active*/
a:active{
    color: #cfc6c6;
}
/*classes*/
.data-postagem{
    font-size: 14px;
    border-bottom: 1px solid #f4f4f4;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.img-index{
    float: center;
    margin: 10px 10px 10px 150px;
    opacity: 1;    
}
.texto{
    border-left: 5px solid #d8d8d8;
    padding-left: 5px;
    display: block;
    margin: 10px 10px 10px 280px;
}